* {
	margin: 0;
	padding: 0;
	font-family: Times, Arial;
}
body {
	background-color: #DDD;
	color: #333; /* Preto Claro */
}
a:link, a:visited, a:active{
	text-decoration: none;
	color: #009ACD; /* Azul */
}
a:hover {
	text-decoration: underline;
}
/* Grid 960px */
.linha {
	width: 960px;
	margin: 0px auto;
	overflow: auto;
	padding: 5px 0px;
}
.coluna {
	padding: 0px 10px;
	float: left;
}
.col1 {width: 60px;}
.col2 {width: 140px;}
.col3 {width: 220px;}
.col4 {width: 300px;}
.col5 {width: 380px;}
.col6 {width: 460px;}
.col7 {width: 540px;}
.col8 {width: 620px;}
.col9 {width: 700px;}
.col10 {width: 770px;}
.col11 {width: 860px;}
.col12 {width: 940px;}

/* Reutilizáveis */
.sem-margin {
	margin: 0px !important;
}
.sem-padding {
	padding: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin: 0px;
}
ul.inline li, ol.inline li {
	display: inline;
	margin-right: 15px;
}
ul.inline li:last-child, ol.inline li:last-child {
	margin-right: 0px;
}
ul.sem-marcador, ol.sem-marcador {
	list-style: none;
}

/* Layout */

/* Topo */
div.topo {
	height: 30px;
	margin: 0px;
}
div#header, div.topo {
	background-color: #333333; /* Preto Claro */
	padding: 5px 10px;
}
img.logo {
	height: 30px;
	width: auto;
	display: inline-block;
}
input.iptBasic {
	display: inline-block;
	height: 20px;
	width: 100px;
	margin-right: 5px;
}
input.iptBasic:last-child {
	margin-right: 0px; 
}
button.btnBasic {
	padding: 2px 10px;
	display: inline-block;
}

/* Botões do Menu */
div.menu, ul.menu {
	text-align: center;
}
ul.menu {
	margin: 0px;
}
li.btn-menu {
	padding: 5px 15px;
	list-style: none;
	display: inline-block;
	font-weight: 500;
	cursor: pointer;
}
li.btn-menu a {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
	color: #009acd; /* Azul */
	text-decoration: none;
}
li.btn-menu:hover {
	background: #000000;
	background: -webkit-linear-gradient(#000000, #333333);
	background: linear-gradient(#000000, #333333);
}
/**/

.right {
	text-align: right;
}
/* Página Inicial */
section div.col6 {
	background-color: #E8E8E8;
	text-align: center;
	height: 400px;
	padding: 10px;
}
h1.cadastro {
	color: #333;
	margin: 0px 0px 10px 0px;
}
label.cadastro {
	display: inline-block;
	width: 50px;
}
input.cadastro {
	margin-bottom: 10px;
	width: 80%;
}
button.btnCadastro {
	background:    #6aa84f;
	background:    -webkit-linear-gradient(#6aa84f, #38761d);
	background:    linear-gradient(#6aa84f, #38761d);
	border:        1px solid #6aa84f;
	border-radius: 5px;
	padding:       5px 10px;
	color:         #ffffff;
	display:       inline-block;
	text-align:    center;
	text-shadow:   none;
	float:         left;
	margin-top: 10px;
}
button.btnCadastro:hover {
	background:    #38761d;
	background:    -webkit-linear-gradient(#38761d, #6aa84f);
	background:    linear-gradient(#38761d, #6aa84f);
	border:        1px solid #6aa84f;
}
input.pesquisa {
	margin-top: 10px;
	float: right;
	display: inline-block;
	background-image: url('../img/icons/pesquisa.png');
	background-position: 5px 3px; 
	background-repeat: no-repeat;
	padding-left: 35px;
}

/* Menu Lateral */
.sidebar {
	background: #333333;
	color: #EBEBEB;
	padding: 10px 10px 0px 10px;
}
.sidebar h3 {
	text-transform: uppercase;
	font-weight: bold;
	background-color: #009acd; /* Azul */
	color: #333333;
}
.sidebar ul li {
	margin-bottom: 10px;
}

/* Outros */
.footer {
	background: #333333;
	padding: 10px;
	color: #EBEBEB;
	text-align: center;
	font-weight: 100;
}

label.rotulo {
	font-weight: bold;
	color: #CD3700; /* Vermelho */
}

.titulo {
	float: right;
	padding: 5px 10px;
	color: #009acd; /* Azul */
	background-color: #333333;
	text-transform: capitalize;
}

.produto {
	background: #E8E8E8;
	float: right;
}
div.produto-grade {
	margin: 5px;
	border: 1px solid #E8E8E8;
	float: left;
	width: 115px;
	height: 140px;
}
div.produto-grade:hover {
	border: 1px solid #333333;
}
div.produto-grade img {
	width: 100%;
	height: 100%;
}
.clear {
	clear: both;
}

.poster {
	height: 310px;
	width: 225px;
	float: left;
	margin: 10px;
}
p {
	text-align: justify;
	line-height: 2em;
	margin: 5px;
}

#profileName {
	color: #EBEBEB;
	margin-right: 5px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
}

img.imgBtn {
	position: absolute;
	margin-top: 3px;
	cursor: pointer;
	display: inline-block;
}
input.editar {
	width: auto;
	min-width: 30px;
	height: 20px;
	text-align: center;
}
select.editar {
	width: auto;
	height: 30px;
	padding: 0px 5px;
}
input[type="image"] {
	position: absolute;
	margin-top: 3px;
	display: inline-block;
}

div#info {
	display: none;
	position: fixed;
	padding: 10px;
	top: 50%;
	left: 50%;
	z-index: 99999;
	min-width: 300px;
	max-width: 600px;
	max-height: 50%;
	overflow: auto;
	transition: opacity 400ms ease-in;
	transform: translate(-50%, -50%);
	background: rgba(51,51,51,0.9);
	color: #EBEBEB;
}
div#info span.close {
	background-color: #606061;
	position: fixed;
	width: 24px;
	line-height: 25px;
	font-weight: bold;
	right: 0px;
	top: 0px;
	text-align: center;
	cursor: pointer;
}
div#info span.close:hover {
	background-color: #f00;
}

/* Style The Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	text-transform: uppercase;
	color: #EBEBEB;
	padding: 5px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}