body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8E8E8;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
}
/* Grid 960px */
.linha {
	width: 960px;
	margin: 0px auto;
	overflow: auto;
	padding: 5px 0px;
}
.coluna {
	padding: 0px 10px;
	float: left;
}
.col1 {width: 60px;}
.col2 {width: 140px;}
.col3 {width: 220px;}
.col4 {width: 300px;}
.col5 {width: 380px;}
.col6 {width: 460px;}
.col7 {width: 540px;}
.col8 {width: 620px;}
.col9 {width: 700px;}
.col10 {width: 780px;}
.col11 {width: 860px;}
.col12 {width: 940px;}

/* Reutilizáveis */
.sem-margin {
	margin: 0px !important;
}
.sem-padding {
	padding: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin: 0px 0px 10px 0px;
	text-align: center;
}
ul.inline li, ol.inline li {
	display: inline;
	margin-right: 15px;
}
ul.inline li:last-child, ol.inline li:last-child {
	margin-right: 0px;
}
ul.sem-marcador, ol.sem-marcador {
	list-style: none;
}

/* Layout */

/*	header div:first-child {
	background-color: #2E592E;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 10px; 
} */
/* .logo {
	display: inline;
	float: left;
} */
#logo {
	width: 960px;
	height: 200px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* .title {
	padding: 10px 0px;
	text-transform: uppercase;
	font-size: 30px;
	color: #FFF;
	float: right;
} */
.menu {
	text-transform: uppercase;
	text-align: center;
}
ul.menu {
	margin: 13px 0px;
}
.menu li {
	padding: 5px 10px;
	background-color: #2E592E;
	color: #FFFFFF;
	border: 3px #997035 solid;
	font-weight: bold;
}
section div:first-child {
	width: 920px;
	padding: 10px 20px 10px 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
}
.imgs {
	text-align: center;
}
section div img.news {
	height: 150px;
	width: 240px;
	border: 3px #997035 solid;
	margin-left: 15px;
	margin-bottom: 15px;
}
.cleaner {
	clear: both;
}
.arrow {
	width: 40px;
	height: auto;
}
.aleft {
	float: left;
}
.aright {
	float: right;
}
p {
	text-indent: 30px;
	text-align: justify;
	line-height: 2em;
}
.data {
	font-size: 12px;
	color: gray;
	font-style: italic;
}
footer div:first-child {
	padding: 10px 10px;
	background-color: #2E592E;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
span {
	font-size: 12px;
	color: #FFF;
}
.news-bloco {
	width: 280px;
	margin-right: 32px;
	margin-bottom: 10px;
	display: inline-block;
}
.news-bloco:nth-child(4), .news-bloco:nth-child(7), .news-bloco:nth-child(9), .news-bloco:nth-child(12), .news-bloco:nth-child(15), .news-bloco:nth-child(18)
.news-bloco:nth-child(21), .news-bloco:nth-child(24), .news-bloco:nth-child(27), .news-bloco:nth-child(30), .news-bloco:nth-child(33), .news-bloco:nth-child(36) {
	margin-right: 0px;
}
.news-bloco p {
	text-indent: 0px;
	margin: 0px;
}
.news-bloco img {
	width: 286px;
	height: 156px;
	display: block;
	border-radius: 5px;
}
.news-bloco a:link, .news-bloco a:visited, .news-bloco a:active, .news-bloco a:hover {
	color: #000;
}
.news-bloco a:hover img {
	width: 280px;
	height: 150px;
	border: 3px #997035 solid;
}
label {
	display: block;
	margin-bottom: 5px;
	margin-left: 25px;
}
input, textarea {
	display: block;
	margin-bottom: 10px;
	margin-left: 25px;
	padding: 5px 2%;
	width: 50%;
}
textarea {
	height: 150px;
}
input.botao {
	width: auto;
}
h3 {
	text-transform: uppercase;
}